body {
    font-family: "Zen Dots", cursive;
}

h1 {
    color: #878787;
    font-size: 30px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li::first-letter {
    text-transform: capitalize;
}

footer {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    margin-top: 5px;
}

btn-primary {
    background-color: #C287F1;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    border: 1px solid #878787;
    border-radius: 5px;
    padding: 20px;
}

.overview {
    margin-bottom: 10px;
}

.weather-temperature img {
    margin-right: 20px;
    height: 80px;
    width: 80px;
}

.weather-temperature strong {
    color: #525050;
    cursor: default;
    font-size: 45px;
    font-weight: 100;
    line-height: 1;
    margin-top: -60px;
    margin-left: 20px;
    margin-right: 10px;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -60px;
    text-decoration: none;
}

.weather-temperature active {
    color: #1d6bac;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}


