body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #878787;
    font-size: 30px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

.container {
    border: 1px solid #878787;
    border-radius: 5px;
    margin: 30px auto;
    max-width: 700px;
    padding: 20px;
}

.weather-icon {
    margin-right: 5px;
    height: 100px;
    width: 100px;
}

.units {
    position: relative;
    font-size: 16px;
    top: -22px;
}

.temperature {
    font-size: 50px;
}

